.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}
.listSearch{
    flex: 1;
    background-color: orange;
    padding: 8px;
    border-radius: 8px;
    position: sticky;
    top: 8px;
    height: max-content;
}
.lsTitle{
    color: rgb(67, 66, 66);
    font-size: 20px;
    margin-bottom: 8px;
}
.lsItem{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;

}
.lsItem>label{
  font-size: 12px;
}
.lsItem>input{
  height: 28px;
  padding: 4px;
  border: none;
  border-radius: 4px;
}
.lsItem>span{
  height: 28px;
  padding: 4px;
  background-color: white;
  display: flex;
  align-items: center;
   border-radius: 4px;
   cursor: pointer;
}
.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.lsOptions{
  padding: 8px;
}
.listSearch>button{
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}
.listResult{
    flex: 3;
}
