.homeContainer{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}
.homeTitle{
    width: 1024px;
    font-size: 24px;
    font-weight: bold;
}