.header{
    background-color:#0c1ea4;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;

}
.headerContainer.listMode{
 margin: 20px 0px 0px 0px;
}
.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 48px;
}
.headerListItems{
    display: flex;
    align-items: center;
    gap: 8px;
}
.headerListItemsactive{
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 20px;
}
.headerDesc{
    margin: 18px 0px;

}
.headerBtn{
    background-color: #0071c2;
    color: white;
    font-weight: 480;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.headerSearch{
    height: 32px;
    background-color: white;
    border: 2px solid rgb(255, 209, 125);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 4px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    border-radius: 4px;
}
.headerIcon{
color: rgb(93, 93, 93);
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 8px;
}
.headerSearchInput{
    border: none;
    outline: none;
}
.headerSearchText{
    color: rgb(175, 175, 175);
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.options{
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 4px;
    box-shadow: 0px 0px 10px -5px rgb(7, 6, 6);
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
    
}
.optionCounter{
    display: flex;
    gap: 12px;
    align-items: center;
    color: black;
}
.optionCounterButton{
    cursor: pointer;

}
.optionCounterButton:disabled{
    cursor: not-allowed;
}